@charset "UTF-8";

.display {
    background-color: #ccc;
    padding: 15px;
    width: 300px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
button {    
    padding: 10px;
    width: 78px;
    height: 50px;
    margin-top: 15px;
    background-color: #ccc;
    color: black;
    font-size: 20px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgb(182,178,178);
}
button:active {
    background-color: rgb(136,136,136);
}